In [28]:
import pandas as pd

In [29]:
df = pd.read_csv('Listas_Volt2022.csv')

In [30]:
df.head()

                Nome  Membro Circulo  Suplente  Lugar
0  Tiago Matos Gomes  PT0001  Lisboa     False      1
1       Ana Carvalho  PT0003  Lisboa     False      2
2      Miguel Macedo  PT0129  Lisboa     False      3
3  Rebeca Gradíssimo  PT0010  Lisboa     False      4
4      Vitor Moreira  PT0112  Lisboa     False      5

In [31]:
df['partido'] = 'Volt'

In [32]:
df1 = df[['Circulo', 'partido', 'Nome', 'Suplente']].copy(deep=True)

In [33]:
df1.head()

  Circulo partido               Nome  Suplente
0  Lisboa    Volt  Tiago Matos Gomes     False
1  Lisboa    Volt       Ana Carvalho     False
2  Lisboa    Volt      Miguel Macedo     False
3  Lisboa    Volt  Rebeca Gradíssimo     False
4  Lisboa    Volt      Vitor Moreira     False

In [34]:
df1.rename(columns={"Circulo":"circulo", "Nome":"nome", "Suplente":"tipo"}, inplace=True)

In [35]:
df1['tipo'] = df1['tipo'].astype('str')

In [36]:
df1.replace({'False':'efetivo', 'True':'suplente'}, regex=True, inplace=True)

In [37]:
df1.head()

  circulo partido               nome     tipo
0  Lisboa    Volt  Tiago Matos Gomes  efetivo
1  Lisboa    Volt       Ana Carvalho  efetivo
2  Lisboa    Volt      Miguel Macedo  efetivo
3  Lisboa    Volt  Rebeca Gradíssimo  efetivo
4  Lisboa    Volt      Vitor Moreira  efetivo

In [38]:
df1.replace({'Acores':'Açores', 'Santarem':'Santarém', 'Braganca':'Bragança', 'Evora':'Évora', 'Setubal':'Setúbal'}, inplace=True)

In [39]:
df1.to_csv('Listas_Volt_format2.csv', index=False)